.container {
  margin-bottom: 24px;

  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;

    margin-bottom: 8px;
  }

  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #5A5A65;
  }
}
